h1 {
    color: white;
    text-align: left;
    font-size: 10vw;
    font-family: momcake;
    margin: 0;
    padding-left: 16vw;
    padding-top: 14vh;
}

h2 {
    color: white;
    text-align: left;
    font-size: 3vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    font-weight: 200;
    margin: 0;
    line-height: 95%;
    padding-left: 24vw;
}

h3 {
    font-family: momcake;
    text-align: center;
    font-size: 6vw;
    margin: 0;
    padding-top: 30px;
}

h4 {
    font-family: momcake;
    font-weight: 200;
    color: #700000;
    font-size: 30px;
    text-align: left;
}

h5 {
    font-size: 3vw;
    font-family: momcake;
    font-weight: 200;
    text-align: center;
    margin: 0;
    color: white;
}

h6 {
    font-size: 18px;
    font-family: Verdana;
}